name: flabr
description: mobile client for habr.com
repository: https://github.com/iska9der/flabr

publish_to: "none"
version: 1.2.6+10705

environment:
  flutter: 3.41.0
  sdk: ^3.11.0

workspace:
  - packages/flutter_highlight
  - packages/quick_shortcuts
  - packages/ya_summary


dependencies:
  flutter:
    sdk: flutter
  collection: any
  meta: any
  intl: any

  cupertino_icons: ^1.0.8

  ya_summary:
    path: packages/ya_summary
  flutter_highlight:
    path: packages/flutter_highlight
  quick_shortcuts:
    path: packages/quick_shortcuts

  get_it: ^9.2.0
  injectable: ^2.7.1+4
  freezed_annotation: ^3.1.0
  json_annotation: ^4.10.0
  shared_preferences: ^2.5.4
  flutter_secure_storage: 10.0.0
  dio: ^5.9.1
  dio_cookie_manager: ^3.3.0
  cookie_jar: ^4.0.8
  path: ^1.9.1
  path_provider: ^2.1.5
  rxdart: ^0.28.0
  auto_route: ^11.1.0
  bloc: ^9.2.0
  flutter_bloc: ^9.1.1
  bloc_concurrency: ^0.3.0
  equatable: ^2.0.8

  device_preview: ^1.3.1
  responsive_framework: ^1.5.1

  share_plus: ^12.0.1
  url_launcher: ^6.3.2
  cached_network_image: ^3.4.1
  photo_view: ^0.15.0
  flutter_file_dialog:
    git:
      url: https://github.com/kineapps/flutter_file_dialog.git
      ref: "5e987a6"
  flutter_native_splash: ^2.4.7
  flutter_displaymode: ^0.7.0
  flutter_svg: ^2.2.3
  flutter_widget_from_html_core: ^0.17.0
  fwfh_svg: ^0.16.1
  fwfh_webview: ^0.15.6
  html2md: ^1.3.2
  webview_flutter: ^4.13.1
  webview_cookie_manager:
    git:
      url: https://github.com/fryette/webview_cookie_manager.git
      ref: "e039544"
  html: ^0.15.6
  flutter_fancy_tree_view: ^1.6.0
  skeletonizer: ^2.1.3
  visibility_detector: ^0.4.0+2
  theme_tailor_annotation: ^3.1.2

dev_dependencies:
  analyzer: ^9.0.0
  flutter_lints: ^6.0.0
  dart_code_metrics_presets: ^2.29.0
  flutter_launcher_icons: ^0.14.4
  build_runner: ^2.11.1
  injectable_generator: ^2.12.0
  freezed: ^3.2.5
  json_serializable: ^6.12.0
  auto_route_generator: ^10.4.0
  theme_tailor: ^3.1.2

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/fonts/
  
  fonts:
    - family:  Geologica
      fonts:
        - asset: assets/fonts/Geologica/Geologica-VF.ttf
          weight: 700
